.via-footer {
  display: block;
  position: relative;
  width: 100%;
  background: url(/my_assets/images/footerBg.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;

  &-wrapper {
    &-logo {
      position: relative;
      float: left;
      width: 99px;
      padding: 24px 0 25px 0;

      & a {
        display: block;

        & img {
          width: 100%;
          height: auto;
        }
      }
    }

    &-contuctUs {
      position: relative;
      float: right;
      padding-top: 33px;

      &-span {
        position: relative;
        color: #fff;
        font-size: 24px;
        font-weight: 500;

        & a {
          color: #fff;
          font-size: 24px;
          font-weight: 500;
          text-decoration: none;
        }
      }

      & .via-social {
        height: 34px;
        margin-top: 8px;

        & a {
          margin: 0 12px;
        }
      }
    }
  }
}

.hiddenModal {
  display: none;
}

@media (max-width: 500px) {
  .via-footer {
    padding-bottom: 8px;
    
    &-wrapper {
      &-logo {
        float: none;
        display: block;
        margin: 0 auto;
        padding: 0;
        width: 80px;
        padding: 16px 0 13px 0;
      }

      &-contuctUs {
        float: none;
        padding: 0;
        text-align: center;

        &-span {
          font-size: 15px;

          & a {
            font-size: 15px;
          }
        }

        & .via-social {
          height: 20px;
          margin-top: 0px;

          & a {
            vertical-align: top;
            margin: 0 6px;
          }
        }
      }
    }
  }
}