extends ../../layout/base

block page-title
  title Viarium — Единая инфраструктура в VR для бизнеса и развлечений

block page-content
  .via-page-header
    //- span.via-page-header-title ПЕРВАЯ ПЛАТФОРМА VR ДЛЯ БИЗНЕСА НА БЛОКЧАЙНЕ
    //- .via-btnWrap
    //-   button.buyToken.via-btn Buy token
    //-   button.getWP.via-btn.-fullColor Get WP
    span.via-page-header-startTime Начало пресейла 20 января 2018 в 16:00 GTM
    .via-timeBox
      ul.via-timeBox-timeTable
        li.via-timeBox-timeTable-item
          span.days.via-timeBox-timeTable-item-value 14
          span.via-timeBox-timeTable-item-subValue дней
        li.via-timeBox-timeTable-item
          span.hours.via-timeBox-timeTable-item-value 21
          span.via-timeBox-timeTable-item-subValue часов
        li.via-timeBox-timeTable-item
          span.minutes.via-timeBox-timeTable-item-value 07
          span.via-timeBox-timeTable-item-subValue минут
        li.via-timeBox-timeTable-item
          span.seconds.via-timeBox-timeTable-item-value 11
          span.via-timeBox-timeTable-item-subValue секунд
      button.buyToken.via-btn Buy token

    .via-feedbackBlock
      form.feedbackForm.via-feedbackBlock-form
        .via-feedbackBlock-feedbackLine
          input.email.via-feedbackBlock-feedbackLine-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес")
          button.via-btn.-fullColor(type="submit") Get WP
  
  .via-page-partners
    .container
      h1 ПАРТНЕРЫ
        span ПАРТНЕРЫ
      .row
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer 
              .via-page-partners-wrap-outer-logo
                .via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/ozon.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg2.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer 
              .via-page-partners-wrap-outer-logo
                .via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/lenovo.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg3.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer 
              .via-page-partners-wrap-outer-logo
                .via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/microsoft.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .clear
      video(poster="/my_assets/video/poster.jpg" preload)
        source(src="/my_assets/video/video.mp4")

  .via-page-smi
    .container
      h1 СМИ О НАС
        span СМИ О НАС
      .row
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi1.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title В России стартовал новый проект VIARIUM
              p Сегодня мы раскажем о новом стартапе, от молодой, но очень перспективной команды. Проект стартовал совсем недавно, но уже ...
              a.via-page-smi-wrap-desc-link(href='#') Читать статью
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi2.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title Виртуальный мир не стоит на месте
              p С каждым годом все стремительнее развивается интернет и виртуальное пространство. Людей уже не удивляют покупки в ...
              a.via-page-smi-wrap-desc-link(href='#') Читать статью
        .col.col-lg-4.col-md-4.col-sm-6.col-xs-6
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi3.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title Интервью с сооснователем проекта VIARIUM
              p Мы решили спросить у сооснователя нового проекта, откуда появилась идея и с чего всё началось. - Здравствуйте, Алексей ...
              a.via-page-smi-wrap-desc-link(href='#') Читать статью
        .clear

  .via-page-aboutToken
    .container
      h1 ИНФОРМАЦИЯ О ТОКЕНЕ
        span ИНФОРМАЦИЯ О ТОКЕНЕ
      .row
        .col-lg-6.col-md-6.col-sm-12.col-xs-12
          table
            tr
              td Тип токена:
              td Utility token
            tr
              td Символ:
              td VRM
            tr
              td Поставка:
              td 1 000 000 000
            tr
              td На продажу:
              td 550 000 000
            tr
              td Цена:
              td 1 VRM = от 0,02 $
            tr
              td Минимальная цель:
              td 5 000 000 $
            tr
              td Максимальная цель:
              td 20 000 000 $
        .col-lg-6.col-md-6.col-sm-12.col-xs-12
          .via-whitePaper
            .via-whitePaper-form
              span.via-whitePaper-link White Paper
                i.via-whitePaper-icon
              button.getWP.via-btn.-fullColor CКАЧАТЬ ДОКУМЕНТ
            .via-timeBox
              span.via-timeBox-startTime Начало 4 января, в 16:00
              ul.via-timeBox-timeTable
                li.via-timeBox-timeTable-item
                  span.days.via-timeBox-timeTable-item-value 14
                  span.via-timeBox-timeTable-item-subValue дней
                li.via-timeBox-timeTable-item
                  span.hours.via-timeBox-timeTable-item-value 21
                  span.via-timeBox-timeTable-item-subValue часов
                li.via-timeBox-timeTable-item
                  span.minutes.via-timeBox-timeTable-item-value 07
                  span.via-timeBox-timeTable-item-subValue минут
                li.via-timeBox-timeTable-item
                  span.seconds.via-timeBox-timeTable-item-value 11
                  span.via-timeBox-timeTable-item-subValue секунд

  .via-page-roadmap
    .container
      h1 ROADMAP
        span ROADMAP
      .via-page-roadmap-tree
        .row
          .col.col-lg-6.col-md-6.col-sm-12.col-xs-12
            .via-page-roadmap-wrap.-second
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Bronze Age
                .via-page-roadmap-wrap-header-month Фев, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.

          .col-lg-6.col-md-6.col-sm-12.col-xs-12
            .via-page-roadmap-wrap.-first
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Stone Age
                .via-page-roadmap-wrap-header-month Фев, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.

            .via-page-roadmap-wrap.-third
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Stone Age
                .via-page-roadmap-wrap-header-month Фев, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.
          .clear

  .via-page-about
    .container
      h1 О проекте
        span О проекте
      p Viarium – это уникальная платформа, объединяющая в себе сеть виртуального пространства и дополненной реальности для продажи товаров и услуг. С помощью Viarium становится возможность реализации своих товаров и услуг. Совершайте покупки в торговых центрах и шоурумах VR, делитесь новыми возможностями с друзьями, семьей и всем миром, получая при этом доход на торговой площадке нового поколения Viarium!
      .via-feedbackBlock.-mobileHide
        form.feedbackForm.via-feedbackBlock-form
          .via-feedbackBlock-feedbackLine
            input.email.via-feedbackBlock-feedbackLine-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес")
            button.via-btn.-fullColor(type="submit") Get WP
      button.getWP.via-btn.-fullColor.-mobileVisible(type="submit") Get WP
  
  .via-page-advantages
    .container
      h1 Наши преимущества
        span Наши преимущества
      .row
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv1.png")
            p Единая инфраструктура в VR для бизнеса и развлечений
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv2.png")
            p Гарантия безопасности
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv3.png")
            p Децентрализованная устойчивая система
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv4.png")
            p Можно подключить свой сервер
        .clear
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv5.png")
            p Открытый Мир
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv6.png")
            p Единая инфраструктура в VR для бизнеса и развлечений
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv7.png")
            p Гарантированная защищенность бизнеса за счет блокчейна
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv8.png")
            p Мир неограниченно растет
        .clear
  .via-page-documents
    .container
      h1 ДОКУМЕНТЫ
        span ДОКУМЕНТЫ
      .row
        .col-lg-5ths.col-md-5ths.col-sm-6.col-xs-6
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc1.jpg")
        .col-lg-5ths.col-md-5ths.col-sm-6.col-xs-6
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc2.jpg")
        .col-lg-5ths.col-md-5ths.col-sm-6.col-xs-6
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc3.jpg")
        .col-lg-5ths.col-md-5ths.col-sm-6.col-xs-6
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc4.jpg")
        .col-lg-5ths.col-md-5ths.col-sm-6.col-xs-6
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc5.jpg")
       
        .clear

