extends ../../layout/base

block vars
  - var bodyClasses = 'login';

block head-extra
  script(src='https://www.google.com/recaptcha/api.js?onload=onRecaptchaLoad&render=explicit', async='async', defer='defer')

block page-title
  title Login

block page-content
  .vie-page-dashboard.via-page-login
    .container
      .jumbotron
        h1 ICO Login
        .lead
          span Do not have an account?
          = ' '
          a(href='/dashboard/registration') Register
      form.via-form.via-form-login(action='.', method='post', enctype='application/x-www-form-urlencoded', autocapitalize='off', name='view-form-registration', id='view-form-registration')
        .form-group.form-group-required.row
          label.col-form-label.col-md-4(for='username', title='Username is required') Username
          input.form-control.form-control-lg.col-md-8(type='text', name='username', id='username', required='required', placeholder='iamsogood', size='40', title='Please fill in your username')
        .form-group.form-group-required.row
          label.col-form-label.col-md-4(for='password', title='Password is required') Password
          input.form-control.form-control-lg.col-md-8(type='password', name='password', id='password', required='required', size='40', title='Please fill in password')
        .form-group.row
          .offset-md-4.recaptcha
        .row.offset-md-4
          button.btn.btn-primary.btn-lg(type="submit") Login
