extends ../../layout/base

block page-title
  title Profile

block page-content
  .vie-page-dashboard.via-page-dashboard-profile
    .container
      .via-balance.row
        .via-balance-current.col-md-3
          h2 You have:
        .via-balance-calculator.col-md-9
          h2 Calculate:
      .jumbotron
        h1 Instruction
        .lead
          span To Buy MTRc please transfer ETH or BTC to the addresses shown below:
