extends layout/base

block page-title
  title Index

block page-content
  .via-page-aboutToken
    .container
      h1 Index
        span Index

      a.via-btn.-fullColor(href="/ru" rel="nofollow") Main page RUS
      </br>
      </br>
      </br>
      a.via-btn.-fullColor(href="/en" rel="nofollow") Main page ENG
      </br>
      </br>
      </br>
      a.via-btn.-fullColor(href="/jp" rel="nofollow") Main page JPN