#getWpPopUp.hiddenModal
  p Sign up before December 18th and 
    span get 100 VRM
    |  Tokens free!

  form.via-form
    input.via-form-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес")
    button.via-btn(type="submit") Get WP