#getWpPopUp.hiddenModal
  p(data-bind='getWpPopUpText')

  form.via-form
    input.via-form-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес" data-bindPlaceholder='typeEmail')
    button.via-btn(type="submit") Get WP