extends ../../layout/base
block variables
  - var lang = 'en'

block page-title
  title Viarium — United infrastructure in VR for business and entertainment

block page-content
  .via-page-header
    //- span.via-page-header-title ПЕРВАЯ ПЛАТФОРМА VR ДЛЯ БИЗНЕСА НА БЛОКЧАЙНЕ
    //- .via-btnWrap
    //-   button.buyToken.via-btn Buy token
    //-   button.getWP.via-btn.-fullColor Get WP
    span.via-page-header-startTime The beginning of presale starts on February 0,1 2018 at 16.00 GMT
    .via-timeBox
      ul.via-timeBox-timeTable
        li.via-timeBox-timeTable-item
          span.days.via-timeBox-timeTable-item-value 14
          span.via-timeBox-timeTable-item-subValue days
        li.via-timeBox-timeTable-item
          span.hours.via-timeBox-timeTable-item-value 21
          span.via-timeBox-timeTable-item-subValue hours
        li.via-timeBox-timeTable-item
          span.minutes.via-timeBox-timeTable-item-value 07
          span.via-timeBox-timeTable-item-subValue minutes
        li.via-timeBox-timeTable-item
          span.seconds.via-timeBox-timeTable-item-value 11
          span.via-timeBox-timeTable-item-subValue seconds
      button.buyToken.via-btn Buy token
      button.getWP.via-btn.-fullColor.-mobileVisible Get WP

    .via-feedbackBlock.-mobileHide
      form.feedbackForm.via-feedbackBlock-form
        .via-feedbackBlock-feedbackLine
          input.email.via-feedbackBlock-feedbackLine-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес" data-bindPlaceholder='typeEmail')
          button.via-btn.-fullColor(type="submit") Get WP

  #partners.via-page-partners
    .container
      h1 Partners
        span Partners
      .row
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-7
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer
              .via-page-partners-wrap-outer-logo
                a(href='#' target='_blank').via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/ozon.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-7
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg2.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer
              .via-page-partners-wrap-outer-logo
                a(href='#' target='_blank').via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/lenovo.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-7
          .via-page-partners-wrap-bg
            img(src="/my_assets/images/partners/partnersBg3.png")
          .via-page-partners-wrap
            .via-page-partners-wrap-outer
              .via-page-partners-wrap-outer-logo
                a(href='#' target='_blank').via-page-partners-wrap-outer-logo-inner
                  img(src="/my_assets/images/partners/microsoft.png")
                  span.via-page-partners-wrap-outer-logo-inner-helper
        .clear

    video(poster="/my_assets/video/poster.jpg" preload)
      source(src="/my_assets/video/video.mp4")

  #smi.via-page-smi
    .container
      h1 Mass media about us
        span Mass media about us
      .row
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-10
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi1.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title In Russia, a new project VIARIUM
              p Today we will tell about a new startup, from a young, but very promising team. The project was launched quite recently, but already ...
              a.via-page-smi-wrap-desc-link(href='#') Read the article
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-10
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi2.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title The virtual world does not stand still
              p Every year, the Internet and virtual space are developing more and more rapidly. People are no longer surprised by the purchase of ...
              a.via-page-smi-wrap-desc-link(href='#') Read the article
        .col.col-lg-4.col-md-4.col-sm-4.col-xs-10
          .via-page-smi-wrap
            a(href='#').via-page-smi-wrap-image
              img(src="/my_assets/images/smi/smi3.jpg")
            .via-page-smi-wrap-desc
              a(href='#')
                span.via-page-smi-wrap-desc-title Interview with the founder of the VIARIUM project
              p We decided to ask the co-founder of a new project, where the idea came from and where it all began. - Hello, Alexey ...
              a.via-page-smi-wrap-desc-link(href='#') Read the article
        .clear

  #aboutToken.via-page-aboutToken
    .container
      h1 Token information
        span Token information
      .row
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          table
            tr
              td Type of the token:
              td Utility token
            tr
              td Symbol:
              td VRM
            tr
              td Supply:
              td 1 000 000 000
            tr
              td For sale:
              td 550 000 000
            tr
              td Price:
              td 1 VRM = от 0,02 $
            tr
              td The minimum goal:
              td 5 000 000 $
            tr
              td Maximum goal:
              td 20 000 000 $
        .col-lg-6.col-md-6.col-sm-6.col-xs-12
          .via-whitePaper
            .via-whitePaper-form
              span.via-whitePaper-link White Paper
                i.via-whitePaper-icon
              button.getWP.via-btn.-fullColor DOWNLOAD DOCUMENT
            .via-timeBox
              span.via-timeBox-startTime The beginning of January 4, at 16:00
              ul.via-timeBox-timeTable
                li.via-timeBox-timeTable-item
                  span.days.via-timeBox-timeTable-item-value 14
                  span.via-timeBox-timeTable-item-subValue days
                li.via-timeBox-timeTable-item
                  span.hours.via-timeBox-timeTable-item-value 21
                  span.via-timeBox-timeTable-item-subValue hours
                li.via-timeBox-timeTable-item
                  span.minutes.via-timeBox-timeTable-item-value 07
                  span.via-timeBox-timeTable-item-subValue minutes
                li.via-timeBox-timeTable-item
                  span.seconds.via-timeBox-timeTable-item-value 11
                  span.via-timeBox-timeTable-item-subValue seconds

  #roadmap.via-page-roadmap
    .container
      h1 Roadmap
        span Roadmap
      .via-page-roadmap-tree
        .row
          .col.-right.col-lg-6.col-md-6.col-sm-6.col-xs-10
            .via-page-roadmap-wrap.-first
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Stone Age
                .via-page-roadmap-wrap-header-month Feb, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.

          .col.-left.col-lg-6.col-md-6.col-sm-6.col-xs-10
            .via-page-roadmap-wrap.-second
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Bronze Age
                .via-page-roadmap-wrap-header-month Feb, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.

          .col.-right.col-lg-6.col-md-6.col-sm-6.col-xs-10
            .via-page-roadmap-wrap.-third
              .via-page-roadmap-wrap-header
                .via-page-roadmap-wrap-header-age Stone Age
                .via-page-roadmap-wrap-header-month Feb, 2017
                .clear
              .via-page-roadmap-wrap-body
                p Land is modeled as a simple grid, and a Bitcoin-like proof-of-work algorithm is used to allocate pixels to users.
          .clear

  #about.via-page-about
    .container
      h1 About the project
        span About the project
      p Viarium – is a unique platform that combines a network of virtual space and augmented reality for the sale of goods and services. With the help of Viarium  the implementation of goods and services will be possible indeed. Do shopping at VR shopping malls and showrooms, share new opportunities with your friends, family and the whole world while earning  at the new generation Viarium platform!
      .via-feedbackBlock.-mobileHide
        form.feedbackForm.via-feedbackBlock-form
          .via-feedbackBlock-feedbackLine
            input.email.via-feedbackBlock-feedbackLine-input(type="email" name="request[email]" placeholder="Введите ваш E-mail адрес")
            button.via-btn.-fullColor(type="submit") Get WP
      button.getWP.via-btn.-fullColor.-mobileVisible(type="submit") Get WP

  #advantages.via-page-advantages
    .container
      h1 Our advantages
        span Our advantages
      .row
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv1.png")
            p United infrastructure in VR for business and entertainment
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv2.png")
            p Security guarantee
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv3.png")
            p Decentralized resistable system
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv4.png")
            p You can connect your own server
        .clear
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv5.png")
            p Open World
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv6.png")
            p Single infrastructure in VR for business and entertainment
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv7.png")
            p Guaranteed security of your business using the blockchain technology
        .col.col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-advantages-wrap
            .via-page-advantages-wrap-icon
              img(src="/my_assets/images/advantages/adv8.png")
            p The world grows unlimitedly
        .clear

  #documents.via-page-documents
    .container
      h1 Documentation
        span Documentation
      .row
        .col.col-lg-5ths.col-md-5ths.col-sm-5ths.col-xs-4
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc1.jpg")
        .col.col-lg-5ths.col-md-5ths.col-sm-5ths.col-xs-4
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc2.jpg")
        .col.col-lg-5ths.col-md-5ths.col-sm-5ths.col-xs-4
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc3.jpg")
        .col.col-lg-5ths.col-md-5ths.col-sm-5ths.col-xs-4
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc4.jpg")
        .col.col-lg-5ths.col-md-5ths.col-sm-5ths.col-xs-4
          .via-page-documents-wrap
            img(src="/my_assets/images/documents/doc5.jpg")
        .clear

  #employees.via-page-employees
    .container
      h1 Employees
        span Employees
      .row
        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp1.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Аексей Машкеев
              span.via-page-employees-wrap-desc-position Founder
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp2.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Сергей Лукашкин
              span.via-page-employees-wrap-desc-position CEO
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp3.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Александ Патушинский
              span.via-page-employees-wrap-desc-position PM
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp4.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Максим Контсантинов
              span.via-page-employees-wrap-desc-position WP
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")
        .clear

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp5.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Евгений Хашин
              span.via-page-employees-wrap-desc-position DevOps/Smart-Contract
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp6.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Мария Лобанова
              span.via-page-employees-wrap-desc-position PM
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp7.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Дарина Плутенко
              span.via-page-employees-wrap-desc-position CM
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

        .col-lg-3.col-md-3.col-sm-6.col-xs-6
          .via-page-employees-wrap
            .via-page-employees-wrap-avatar
              img(src="/my_assets/images/employees/emp8.jpg")
            .via-page-employees-wrap-desc
              span.via-page-employees-wrap-desc-name Гульнара Галеева
              span.via-page-employees-wrap-desc-position CMO
              .via-page-employees-wrap-desc-social
                a(href="#")
                  img(src="/my_assets/images/social/emp_facebook.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_linkedin.png")
                a(href="#")
                  img(src="/my_assets/images/social/emp_github.png")

                .clear


