$container-gutter: 15px;
$container-width: calc(958px + #{$container-gutter} * 2);
$col-gutter: $container-gutter;

/* Bootstrap*/
.clearfix {
  @include clearfix;
}

.container {
  @include clearfix;

  display: block;
  width: auto;
  max-width: $container-width;
  padding-left: $container-gutter;
  padding-right: $container-gutter;
  margin-left: auto;
  margin-right: auto;
}

.row {
  @include clearfix;

  display: block;
  margin-left: -$col-gutter;
  margin-right: -$col-gutter;
}

.clear {
  clear: both
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: $col-gutter;
  padding-right: $col-gutter;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
/**/

a {text-decoration: none;}

h1 {
  display: block;
  position: relative;
  color: #fff;
  font-size: 42px;
  letter-spacing: 0.22px;
  line-height: 56.91px;
  font-weight: 800;
  text-transform: uppercase;
  margin-bottom: 77px;

  & span {
    display: block;
    position: absolute;
    width: 100%;
    top: 24px;
    font-size: 60px;
    color: #f1f4f6;
    opacity: 0.02;
  }
}

body {
  font-family: 'Segoe UI', sans-serif;
  font-size: 22px;
  color:  #000000;
  background-color: #ffffff;
}

.via-page {
  position: relative;
  overflow: hidden;
}

.via-content {
  display:block;
  position: relative;
  width: 100%;
  text-align: center;
}

.via-page-header {
  position: relative;
  top: 0;
  z-index: 0;
  width: 100%;
  min-height: 150px;
  background: url(/assets/images/headerBack.jpg) no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 286px;
  padding-bottom: 262px;

  &-startTime {
    font-weight: 500;
    font-size: 28px;
    letter-spacing: -0.14px;
    color: #fff;
  }

  &-title {
    text-transform: uppercase;
    font-size: 34px;
    font-weight: 600;
    color: #fff;
  }
}

.via-btnWrap {
  display: block;
  position: relative;
  margin-top: 43px;
}

.via-btn {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 26px;
  margin: 0;
  padding: 0;
  border: 0;
  padding: 19px 65px;
  margin: 0 23px;
  background: none;
  border-left: 3px solid #ff2136;
  border-right: 3px solid #c55b2c;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-position: 0 0, 100% 0;
  background-repeat: no-repeat;
  -webkit-background-size: 100% 3px;
  -moz-background-size: 100% 3px;
  background-size: 100% 3px;
  background-image: -webkit-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
  background-image: -moz-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
  background-image: -o-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
  background-image: linear-gradient(to left, #c55b2c 0%, #ff2136 100%);

  &:after {
    display:block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3px;
    content: '';
    background-image: -webkit-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
    background-image: -moz-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
    background-image: -o-linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
    background-image: linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
  };

  &:hover {
    background-size: 100%;
    background: linear-gradient(to left, #c55b2c 0%, #ff2136 100%);
  }

  &.-fullColor {
    border: 0;
    padding: 19px 79px;
    background: linear-gradient(to left, #c55b2c 0%, #ff2136 100%);

    &:after {
      display: none;
    }

    &:hover {
      background-image: linear-gradient(to right, #c55b2c 0%, #ff2136 100%);
    }
  }
}

.btn-primary {
  position: relative;
  overflow: hidden;
  color: #fff;
  font-size: 26px;
  margin: 0;
  padding: 0;
  border: 0;
  margin: 0 23px;
  padding: 19px 79px;
  background: linear-gradient(to left, #c55b2c 0%, #ff2136 100%);


  &:hover {
    background-image: linear-gradient(to right, #c55b2c 0%, #ff2136 100%);
  }
}

.via-timeBox {
  display: block;
  position: relative;
  width: 446px;
  margin: 0 auto;
  background-color: rgba(41, 36, 82, 0.75);

  &-timeTable {
    display: block;
    position: relative;
    list-style: none;
    margin: 0;
    padding: 0;
    margin-top: 26px;
    height: 121px;

    &-item {
      display: inline-block;
      width: 102px;

      &-value {
        display: block;
        position: relative;
        font-weight: 300;
        color: #fff;
        font-size: 65px;
        line-height: 65px;
        margin-top: 16px;

        &:after {
          display: block;
          position: absolute;
          content: ':';
          top: -3px;
          right: 0;
          font-size: 61px;
          font-weight: 600;
          margin-right: 3px;
        }
      }

      &-subValue {
        display: block;
        position: relative;
        font-weight: 500;
        font-size: 16px;
        line-height: 18px;
        color: #fff;
        text-align: left;
        padding-left: 20px;
      }

      &:last-of-type {
        .via-timeBox-timeTable-item-value {
          padding-right: 0;

          &:after {
            display: none;
          }
        }
      }
    }
  }
}

.via-feedbackBlock {
  display: block;
  position: relative;
  width: 446px;
  height: 53px;
  margin: 0 auto;

  &-form {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-feedbackLine {
    display: inline-block;
    position: relative;
    width: 100%;
    height: 100%;

    &-input {
      background: #fff;
      height: 100%;
      width: 63%;
      display: block;
      float: left;
      border: 0;
      font-size: 14px;
      padding: 20px 24px;
      letter-spacing: -0.13px;
      font-weight: 400;
      color:#000;
    }

    &-btn {
      display: block;
      float: right;
      height: 100%;
      width: 37%;
      background-color: #ff1329;
      border: 0;
      text-transform: uppercase;
      font-weight: 400;
      font-size: 19px;
      letter-spacing: -0.6px;
      color: #fff;
      outline: none;
      border: none;

      &:active {
        outline: none;
        border: none;
      }

      &:hover {
        background: #51c4d8;
      }

      &.-progres {
        background: #34acc1;
      }
    }
  }
}

.via-page-aboutToken {
  position: relative;
  background: url(/assets/images/aboutTokenBg.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 84px;
  padding-bottom: 146px;

  & table {
    width: 93%;
    border-collapse: collapse;

    & tr {
      text-align: left;
      border-bottom: 1px solid rgba(191, 186, 241, 0.36);

      & td {
        border: none;
        padding-top: 1px;
        color: #fff;
        font-size: 20px;
        font-weight: 400;
        line-height: 43px;
      }
    }
  }
}

.via-whitePaper {
  display: block;
  position: relative;
  width: 100%;
  height: 53px;
  line-height: 53px;
  margin-top: 80px;

  &-form {
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
  }

  &-link {
    float: left;
    width: 52%;
    background-color: #ffffff;
    color: #474958;
    text-decoration: none;
    font-size: 19px;
    height: 100%;

    & .via-whitePaper-icon {
      display: inline-block;
      position: relative;
      vertical-align: middle;
      width: 25px;
      height: 33px;
      margin-left: 25px;
      background: url(/assets/images/icons/whitePaper.png) no-repeat;
    }
  }

  & .via-btn {
    float: right;
    width: 48%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 17px;
  }

  &:after {
    display: block;
    position: absolute;
    content: '';
    background: url(/assets/images/graph.png) no-repeat;
    top: 45px;
    left: -33px;
    width: 622px;
    height: 179px;
  }
}

.via-page-about {
  position: relative;
  background: url(/assets/images/aboutBg.png) no-repeat;
  background-size: cover;
  background-position-x: center;
  padding-top: 84px;
  padding-bottom: 118px;

  & h1 {
    margin-bottom: 96px;
  }

  & p {
    font-size: 25px;
    font-weight: 500;
    line-height: 32px;
    color: #fff;
  }

  & .via-feedbackBlock {
    width: 608px;
    height: 66px;
    margin-top: 69px;

    & .via-btn {
      float: right;
      width: 37%;
      height: 100%;
      margin: 0;
      padding: 0;
    }
  }
}

.via-page-advantages {
  position: relative;
  padding-bottom: 53px;

  & h1 {
    color: #474958;
    font-size: 43px;
    font-weight: 800;
    margin: 84px 0 51px 0;

    & span {
      z-index: -1;
      opacity: 1;
    }
  }

  & .col {
    margin-bottom: 41px;
  }

  &-wrap {
    display: block;
    position: relative;
    width: 100%;
    max-width: 200px;
    margin: 0 auto;

    &-icon {
      display: block;
      position: relative;
      width: 100%;
      margin-bottom: 8px;
    }

    & p {
      font-size: 17px;
      font-weight: 500;
      line-height: 19.63px;
      color: #636785;
    }
  }
}

/* Adaptiv */
/*
@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
*/

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
}

@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
}
