@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot');
    src: url('/my_assets/fonts/SegoeUI/SegoeUILight/SegoeUILight.eot?#iefix') format('embedded-opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUILight/SegoeUILight.woff') format('woff'),
         url('/my_assets/fonts/SegoeUI/SegoeUILight/SegoeUILight.ttf') format('ttf');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUISemilight/SegoeUISemilight.otf');
    src: url('/my_assets/fonts/SegoeUI/SegoeUISemilight/SegoeUISemilight.otf') format('opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUISemilight/SegoeUISemilight.ttf') format('ttf');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot');
    src: url('/my_assets/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.eot?#iefix') format('embedded-opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.woff') format('woff'),
         url('/my_assets/fonts/SegoeUI/SegoeUIRegular/SegoeUIRegular.ttf') format('ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot');
    src: url('/my_assets/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.eot?#iefix') format('embedded-opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.woff') format('woff'),
         url('/my_assets/fonts/SegoeUI/SegoeUIItalic/SegoeUIItalic.ttf') format('ttf');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot');
    src: url('/my_assets/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.eot?#iefix') format('embedded-opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.woff') format('woff'),
         url('/my_assets/fonts/SegoeUI/SegoeUISemiBold/SegoeUISemiBold.ttf') format('ttf');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/my_assets/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot');
    src: url('/my_assets/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.eot?#iefix') format('embedded-opentype'),
         url('/my_assets/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.woff') format('woff'),
         url('/my_assets/fonts/SegoeUI/SegoeUIBold/SegoeUIBold.ttf') format('ttf');
    font-weight: 800;
    font-style: normal;
}