footer.via-footer
  .container
    .via-footer-wrapper
        .via-footer-wrapper-logo
          a(href="/")
            img(src="/assets/images/footerLogo.png")
        .via-footer-wrapper-contuctUs
            span.via-footer-wrapper-contuctUs-span contact us: 
                a(href="mailto: Info@viarium.io") Info@viarium.io
            include social