footer.via-footer
  .container
    .via-footer-wrapper
        .via-footer-wrapper-logo
          a(href="/")
            img(src="/my_assets/images/footerLogo.png")
        .via-footer-wrapper-contuctUs
            span.via-footer-wrapper-contuctUs-span contact us: 
                a(href="mailto: info@viarium.io") info@viarium.io
            include social