.via-social
  a(href="/")
    img(src="/assets/images/social/facebook.png")
  a(href="/")
    img(src="/assets/images/social/instagram.png")
  a(href="/")
    img(src="/assets/images/social/tweeter.png")
  a(href="/")
    img(src="/assets/images/social/medium.png")
  a(href="/")
    img(src="/assets/images/social/vk.png")