.via-social
  a(href="https://www.facebook.com/ViariumPlatform/" target='_blank')
    img(src="/my_assets/images/social/facebook.png" )
  a(href="https://www.instagram.com/viariumico/" target='_blank')
    img(src="/my_assets/images/social/instagram.png")
  a(href="https://twitter.com/VIariumPlatform" target='_blank')
    img(src="/my_assets/images/social/tweeter.png")
  a(href="https://medium.com/@VIariumICO" target='_blank')
    img(src="/my_assets/images/social/medium.png")
  a(href="https://vk.com/public157954990" target='_blank')
    img(src="/my_assets/images/social/vk.png")
  .clear