.via-social
  a(href="https://www.facebook.com/ViariumPlatform/")
    img(src="/my_assets/images/social/facebook.png")
  a(href="https://www.instagram.com/viariumico/")
    img(src="/my_assets/images/social/instagram.png")
  a(href="https://twitter.com/VIariumPlatform")
    img(src="/my_assets/images/social/tweeter.png")
  a(href="https://medium.com/@VIariumICO")
    img(src="/my_assets/images/social/medium.png")
  a(href="https://vk.com/public157954990")
    img(src="/my_assets/images/social/vk.png")
  .clear