doctype html
html(lang="ru")
  head
    block page-title
      title Viarium
    include ../base/head

  block vars
    - var bodyClasses = '';

  body(class=bodyClasses)
    .via-page
      include ../objects/header
      .via-content
        block page-content

      include ../objects/footer
    include ../modals/main



